@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: white;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  color: black;
  background-color: white;
}


.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: white;

}

.navigation-list {
  width: 385px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-link {
  display: block;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: black;
  text-decoration: none;
}

.navigation-list:first-child {
  margin-left: 55px;
}


.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 259px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;

}



.navigation-user:last-child {
  margin-right: 72px;
}


.navigation-user .navigation-link {
  padding: 24px 10px;
  min-width: 18px;
  min-height: 17px;
}



.button-user {
  display: block;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 14px 0;
  margin-left: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: white;
  text-decoration: none;

}




.navigation-logo {
  display: block;
  width: 138px;
  height: 70px;
  margin-bottom: -5px;
  margin-left: 93px;
  margin-right: 122px;

}



.page-container {
  width: 1200px;
  margin: 0 auto;

}

.main-caontainer {
  flex-grow: 1;
}




.background {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;

}

.about-sedona {

  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

}

.reason {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 79px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;

}

.advantages-list {


  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.advantages-example-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-example-title {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages-example-discription {
  margin-bottom: 79px;
}

.advantages-title {
  margin-top: 97px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  margin-bottom: 26px;
}

.advantages-discription {
  margin-bottom: 77px;
}

.box-color {
  background: rgba(131, 179, 211, 0.12);
}

.blue-bg-color {
  width: 400px;
  background-color: #83B3D3;
  color: white;
}

.box-color,
.advantages-example-item {
  width: 400px;
}

.advantages-item-difcolor {
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.example-img-one {
  background-image: url("../img/index-photo-1.jpg");
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.example-img-two {
  background-image: url("../img/index-photo-2.jpg");
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.row {
  display: flex;
}

.row-right {
  display: flex;
  flex-direction: row-reverse;
}


.interesting {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.interesting-title {
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interesting-dop {

  margin: 0 auto;
  margin-bottom: 73px;
}


.find-hotel {
  display: block;
  width: 575px;
  padding-top: 13px;
  padding-bottom: 17px;
  margin: 0 auto;
  margin-bottom: 91px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  background-color: #756257;
  text-decoration: none;
  ;
}

.newsletters {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 1200px;

  min-height: 100%;
  background-image: url("../img/email-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.newsletters-title {
  width: 720px;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletters-dop {

  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.newsletters-form {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.field {
  width: 600px;

}

.newsletters-button {
  font-family: "PT Sans", sans-serif;
  width: 200px;
  font-weight: bold;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  text-transform: uppercase;
  color: white;

}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  ;
  width: 194px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-item:first-child {
  margin-left: 56px;
}

.social-item {
  padding: 15px;
  margin-top: 35px;
  margin-bottom: 40px;
}

.twitter-icon {
  min-width: 18px;
  min-height: 15px;
}

.facebook-icon {
  min-width: 10px;
  min-height: 18px;
}

.youtube-icon {
  min-width: 20px;
  min-height: 16px;
}

.contacts {
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 720px;

  text-align: center;
}



.contacts-phone {
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.html-logo {
  display: block;
  background-image: url("../img/logo-html.svg");
  width: 115px;
  height: 33px;
  margin-left: 53px;
  margin-right: 72px;
  margin-top: 42px;
  margin-bottom: 45px;


}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: white;
}

.navigation-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: black underline;
  color: black;
}

.filtred-hotels {

  display: flex;
  margin-left: 72px;
  margin-right: 72px;


}

.catalog-main-info {
  width: 1056px;
}

.catalog-filter {
  display: flex;
  padding-bottom: 83px;


}


.catalog-filter-group {
  border: 0 none;
  padding: 0;
  margin: 0;
}




.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example-label {
  display: inline-block;
  margin-left: 19px;
  margin-bottom: 13px;

}

.catalog-filter-group-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-item:last-child .example-label {
  margin-bottom: 0;
}

.catalog-filter-group:nth-child(1n) .catalog-filter-group-title {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2n) .catalog-filter-group-title {
  margin-right: 216px;
}

.catalog-filter-group:nth-child(3n) .catalog-filter-group-title {
  margin-right: 0;
  margin-bottom: 34px;
}

.catalog-filter-input {
  width: 144px;
  height: 48px;
}





.catalog-title {
  margin: 0;
  padding-top: 35px;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 4px;

}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;

}

.filter-header {
  font-weight: normal;
  color: white;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  font-size: 18px;
  line-height: 23px;
  padding-left: 71px;
  padding-right: 72px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 45px;

}

.breadcrumbs-item:first-child {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 26px;

}


.breadcrumbs-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}



.button-select {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: inherit;
  width: 160px;
  height: 48px;
  margin-top: 59px;
  margin-bottom: 20px;

}

.button-unselect {
  font-family: "PT Sans", sans-serif;
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  color: inherit;
  width: 160px;
  height: 23px;
}

.sorting-box {
  display: flex;

}


.filtred-hotels-title {
  margin-top: 50px;
  margin-bottom: 45px;
  margin-right: 192px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}



.sorting-box .sort-button {
  display: block;
  width: 48px;
  height: 48px;
  margin-top: 44px;
  margin-bottom: 42px;
  margin-right: 8px;
}

.sort-button:last-child {
  margin-right: 0;
}



.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  margin-top: 44px;
  margin-bottom: 42px;


}

.sorting-type {

  margin-right: auto;
}

.hotel-card-title {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: black;
  grid-column: 3/-2;
  grid-row: 2/3;
}




.hotel-list {

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 36px min-content min-content 361px min-content;
  grid-template-rows: 31px min-content min-content min-content 31px;
}

.hotel-card-link {
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 2/-2;
}

.hotel-title-link {
  text-decoration: none;
  grid-column: 3/-2;
  grid-row: 2/3;
}

.type-hotel {
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  grid-column: 3/4;
  grid-row: 3/4;
}

.cost-hotel {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  grid-column: 4/5;
  grid-row: 3/4;
}

.about-hotel-button {
  padding-top: 9px;
  padding-bottom: 10px;
  width: 151px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #756257;
  text-decoration: none;
  grid-column: 3/4;
  grid-row: 4/5;
  align-self: center;
  margin-right: 8px;
}

.to-favorites {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #83B3D3;
  grid-column: 4/5;
  grid-row: 4/5;
  padding-top: 9px;
  padding-bottom: 10px;
  width: 160px;
  align-self: center;
  border: 0;
}

.checked {
  background-color: #7DB54F;
}

.hotel-rating-button {
  width: 160px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  grid-column: -2/-1;
  grid-row: 4/5;
  align-self: end;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;

}

.stars-container {

  grid-column: -2/-1;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}

.show-more-container {
  display: flex;
  justify-content: center;
}

.button-dwn-more {
  font-family: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 31px;
  margin-bottom: 30px;

  width: 625px;
  height: 55px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: white;
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  list-style-type: none;
}


.pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #83B3D3;
  color: white;
  text-decoration: none;
  width: 55px;
  height: 55px;

}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
}



.hotels-on-page-label {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-left: auto;
}

.number-of-page {
  font-family: inherit;
  display: block;
  width: 160px;
  height: 48px;
  margin-top: 34px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

}

.hotels-on-page-info {
  margin-top: 47px;
  margin-right: 51px;
}




.newsletters-catalog {
  text-align: center;
  color: black;

}

.newsletters-catalog-title {

  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.newsletters-catalog-dop {

  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: black;

}

.field-catalog {
  width: 600px;
  padding: 0;
}

.newsletters-catalog .newsletters-form {
  margin-bottom: 138px;
}
