@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  background-color: white;
  color: black;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: white;
  border-radius:4px;
  text-decoration: none;
  height: fit-content;
}
.another-button {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #83B3D3;
  text-decoration: none;
  height: fit-content;
  align-self: center;
  border: 0;
  border-radius: 4px;
}


.page-header {
  position: relative;
  color: black;
  background-color: white;
}


.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: white;

}

.navigation-list {
  width: 385px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.navigation-link {
  position:relative;
  display: block;
  padding: 7px 9px;
  margin-top:12px;
  margin-bottom:13px;
  margin-right:7px;
  margin-left:7px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  z-index:0;
}
.navigation-link:hover {
  color: #756257;
}
.navigation-link:focus {
  outline:3px solid #83B3D3;
  color: #756257;
}
.navigation-link:active {
  opacity:0.3;
  outline:none;
}
.navigation-item{
  position: relative;
}
.navigation-user .navigation-item:nth-of-type(2)::before {
  position: absolute;
  top:15px;
  right:-3px;
  
  width: 19px;
  height: 19px;
 
  border-radius: 50%;
  background-color: #7DB54F;;
  content: "12";
  color:white;
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 19px;
  text-align: center;
  vertical-align: center;
  z-index:2;
}


.navigation-current::before {
  position: absolute;
  right: 9px;
  bottom: -14px;
  left: 9px;
  height: 2px;
  background-color: #756257;
  content: "";
  
}

.navigation-list {
  margin-left: 55px;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus .navigation-icon {
  fill: #756257;
}


.navigation-user {
  display: flex;
  flex-wrap: wrap;
  width: 259px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;

}



.navigation-user {
  margin-right: 72px;
}


.navigation-user .navigation-link {
  padding: 7px 7px;
  margin:17px 3px;
  min-width: 18px;
  min-height: 17px;
}



.button-user {
  display: block;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 14px 0;
  margin-left: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #756257;
  color: white;
  text-decoration: none;
  border-radius:4px;

}
.button:hover {
  background-color: #615048;
}
.button:focus {
  box-shadow:0 0 0 3px #83B3D3;
  outline:none;
  background-color: #615048;
}
.button:active {
  color:rgba(255,255,255,0.3);
  outline:none;
  box-shadow: none;
  background-color: #615048;
}
.another-button:hover {
  background-color:#68A2CA;
}
.another-button:focus {
  box-shadow:0 0 0 3px #756257;
  outline:none;
  background-color: #68A2CA;
}
.another-button:active {
  color:rgba(255,255,255,0.3);
  outline:none;
  box-shadow: none;
  background-color: #68A2CA;
}




.navigation-logo {
  display: block;
  width: 138px;
  height: 70px;
  margin-bottom: -5px;
  margin-left: 93px;
  margin-right: 122px;

}



.page-container {
  width: 1200px;
  margin: 0 auto;

}

.main-caontainer {
  flex-grow: 1;
}




.background {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.main-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;

}

.about-sedona {

  margin: 0 auto;
  margin-top: 63px;
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

}

.reason {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 79px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
  text-align: center;

}

.advantages-list {


  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  list-style-type: none;
}

.advantages-example-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-example-title {
  margin-top: 184px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
}

.advantages-example-discription {
  margin-bottom: 79px;
}

.advantages-title {
  margin-top: 97px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-number {
  margin-bottom: 26px;
}

.advantages-discription {
  margin-bottom: 77px;
}

.box-color {
  width:400px;
  background: rgba(131, 179, 211, 0.12);
}
.advantages-example-list .box-color:first-of-type {
  background-image: url(../img/housing.svg);
  background-repeat: no-repeat;
  background-position: top 89px center;
}
.advantages-example-list .box-color:last-child {
background-image: url(../img/souvenirs.svg);
background-repeat: no-repeat;
background-position: top 85px center;
}

.blue-bg-color {
  width: 400px;
  background-color: #83B3D3;
  color: white;
}


.advantages-example-item {
  width: 400px;
  background-image: url(../img/food.svg);
  background-repeat: no-repeat;
  background-position: top 91px center;
}

.advantages-item-difcolor {
  width: 400px;
  background: rgba(131, 179, 211, 0.2);
}

.example-img-one {
  background-image: url("../img/index-photo-1.jpg");
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.example-img-two {
  background-image: url("../img/index-photo-2.jpg");
  background-repeat: no-repeat;
  width: 800px;
  height: 384px;
}

.row {
  display: flex;
}

.row-right {
  display: flex;
  flex-direction: row-reverse;
}


.interesting {
  text-align: center;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.interesting-title {
  margin: 0 auto;
  margin-top: 91px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.interesting-dop {

  margin: 0 auto;
  margin-bottom: 73px;
}


.find-hotel {
  display: block;
  width: 575px;
  padding-top: 13px;
  padding-bottom: 17px;
  margin: 0 auto;
  margin-bottom: 91px;
  font-weight: bold;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: white;
  background-color: #756257;
  text-decoration: none;
  border-radius: 10px;
}

.newsletters {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 1200px;

  min-height: 100%;
  background-image: url("../img/email-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.newsletters-title {
  width: 720px;
  margin: 0 auto;
  margin-top: 94px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletters-dop {

  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.newsletters-form {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}

.field {
  width: 600px;

}

.newsletters-button {
  font-family: "PT Sans", sans-serif;
  width: 200px;
  font-weight: bold;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  text-transform: uppercase;
  color: white;
  border-radius: 0px 10px 10px 0px;

}

.page-footer-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social-list {

  display: flex;
  flex-wrap: wrap;

  width: 194px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social-link {
  position:relative;
  display:block;
  border-radius: 10px;

}


.social-list {
  margin-left:56px;
}
.social-link:first-child {
  margin-left: 7px;
  margin-right:7px;
  margin-top:40px;
  margin-bottom: 45px;
  padding:10px 8px;
  min-width: 18px;
  min-height: 15px;

}
.social-link:nth-child(2) {
  padding:8px 12px;
  margin-top:42px;
  margin-bottom: 47px;
  margin-left: 3px;
  margin-right: 3px;
  min-width: 10px;
  min-height: 18px;
}
.social-link:last-child {
  padding:9px 7px;
  margin-top:41px;
  margin-bottom: 46px;
  margin-left:8px;
  margin-right:8px;
  min-width: 20px;
  min-height: 16px;
}
.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83B3D3;
}
.social-link:focus {
  outline: 3px solid #83B3D3;
}
.social-link:active {
  outline:none;
  opacity:0.3;
}
.social-link:hover .social-icon {
  fill:#68A2CA;
}

.social-link:focus .social-icon {
  fill:#68A2CA;
}



.contacts {
  margin-left: 45px;
  margin-top: 40px;
  margin-bottom: 30px;
  width: 720px;

  text-align: center;
}



.contacts-phone {
  padding:14px;
  padding-bottom:11px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
.contacts-phone:hover {
  color:#8a796f;
}
.contacts-phone:focus {
  outline: 3px solid #83B3D3;
  color:#8a796f;
}
.contacts-phone:active {
  outline:none;
  opacity:0.3;
}
.creator-link {
  position: relative;
  display:inline-block;
  padding:15px 19px;
  margin-left: 34px;
  margin-right: 53px;
  margin-top: 27px;
  margin-bottom: 30px;
  border-radius: 10px;
  min-width: 115px;
  min-height: 33px;
}
.creator-link:hover .creator-icon {
  fill:#756257;
}
.creator-link:focus {
  outline:3px solid #83B3D3;
  fill:#756257;
}
.creator-link:active {
  outline:none;
  opacity:0.3;
}
.creator-link:focus .creator-icon {
  fill:#756257;
}

.creator-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:auto;
  fill: #000000;
}

.navigation-link-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: black underline;
  color: black;
}

.filtred-hotels {

  display: flex;
  margin-left: 72px;
  margin-right: 72px;


}

.catalog-main-info {
  width: 1056px;
}

.catalog-filter {
  display: flex;
  padding-bottom: 83px;


}


.catalog-filter-group {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.catalog-hotels {
  padding-left: 71px;
}



.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.example-label {
  display: inline-block;
  margin-left: 19px;
  margin-bottom: 13px;

}

.catalog-filter-group-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-item:last-child .example-label {
  margin-bottom: 0;
}

.catalog-filter-group:nth-child(1n) .catalog-filter-group-title {
  margin-right: 67px;
}

.catalog-filter-group:nth-child(2n) .catalog-filter-group-title {
  margin-right: 216px;
}

.catalog-filter-group:nth-child(3n) .catalog-filter-group-title {
  margin-right: 0;
  margin-bottom: 34px;
}

.catalog-filter-input {
  width: 144px;
  height: 48px;
}





.catalog-title {
  margin: 0;
  padding-top: 35px;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 4px;
  padding-left: 71px;

}

.filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;

}

.filter-header {
  font-weight: normal;
  color: white;
  background-image: url("../img/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: black;
  font-size: 18px;
  line-height: 23px;
  
  padding-right: 72px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 45px;
  padding-left: 67px;
  
  

}
 .breadcrumbs-link-another {
  display: block;
  min-width: 12px;
  min-height: 12px;
  background-image: url(../img/breadcrubms-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding:3px 5px 6px 5px;
  border-radius: 4px;
}


.breadcrumbs-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  padding:4px 6px;
  border-radius: 4px;
  color:inherit;
  text-decoration: none;
  
}
  .breadcrumbs-vector {
    display: block;
    min-width: 5px;
    min-height: 8px;
    margin-left: 5px;
    margin-right:5px;
  background-image:url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity:0.3;

  
}
.breadcrumbs-link:hover,
.breadcrumbs-link-another:hover {
  opacity:0.6;
}
.breadcrumbs-link:focus,
.breadcrumbs-link-another:focus {
  outline: 3px solid #83B3D3;
}
.breadcrumbs-link:active,
.breadcrumbs-link-another:active {
  outline: none;
  opacity:0.3;
}
.breadcrumbs:hover .breadcrumbs-vector
 {
  opacity:0;
}





.button-select {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: inherit;
  margin-top: 59px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding:12px 33px;
}
.button-select:hover {
background-color: #68A2CA;
}
.button-select:focus {
  box-shadow: 0 0 0 3px white;
  background-color: #68A2CA;;
}
.button-select:active {
  box-shadow: none;
  color:rgba(255,255,255,0.3)
  
}



.button-reset {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  background-color:rgba(255,255,255,0);
  border:none;
  color:white;
  padding:5px 12px;
  border-radius: 4px;
  align-self:center;

}
.button-reset:hover {
  opacity:0.6;
}
.button-reset:focus {
  outline:3px solid #83B3D3;
}
.button-reset:active {
  opacity:0.3;
  outline:none;
}



.sorting-box {
  display: flex;

}


.filtred-hotels-title {
  margin-top: 50px;
  margin-bottom: 45px;
  margin-right: 192px;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
.button-current {
  outline:2px solid black;
}



.sorting-box .sort-button {
  display: block;
  width: 48px;
  height: 48px;
  margin-top: 44px;
  margin-bottom: 42px;
  margin-right: 8px;
  border-radius: 4px;
}
.sort-button:first-of-type {
  background-image: url(../img/mode-tile-.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;

}
.sort-button:nth-of-type(2) {
  background-image: url(../img/mode-slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;

}

.sort-button:last-child {
  margin-right: 0;
  background-image: url(../img/mode-list.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  
}
.sort-button:hover,
.sort-button:focus {
  outline: 2px solid #83B3D3;
}

.sort-button:active {
  outline: 2px solid black;
}



.select-control {
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  width: 287px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  margin-top: 44px;
  margin-bottom: 42px;


}

.sorting-type {

  margin-right: auto;
}






.hotel-list {

  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 36px 680px 160px;
  grid-template-rows: 31px min-content min-content min-content 31px;
  
  border-top:1px solid #E6E6E6;
}


.hotel-card-link {
  display: inline-block;
  text-decoration: none;
  grid-column: 1/2;
  grid-row: 2/-2;
  
}


.hotel-card-link:hover {
  opacity: 0.6;
}
.hotel-card-link:focus {
  outline: 3px solid #83B3D3;
}
.hotel-card-link:active {
  outline:none;
  opacity: 0.3;
}



.hotel-title-link {
  
  width:fit-content;
  height: fit-content;
  text-decoration: none;

    grid-column: 3/-2;
    grid-row: 2/3;
  border-radius: 4px;
  
  
  
}
.hotel-title-link:hover .hotel-card-title {
  color:#756257;
}
.hotel-title-link:focus {
  outline: 3px solid #83B3D3;
  
  outline-offset: 7px;
}
.hotel-title-link:focus .hotel-card-title {
  color:#756257;
}
.hotel-title-link:active {
  opacity: 0.3;
  outline:none;
}

.hotel-card-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: black;
  
  
}




.info-area {
  display: flex;
  flex-wrap: wrap;
  font-weight: normal;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  grid-column: 3/-2;
  grid-row: 3/4;
  
}
.info-hotel {
  margin: 0;
}
.info-hotel:not(:last-of-type) {
  margin-right:78px;
}
.buttons-area {
  display: flex;
  flex-wrap: wrap;
  grid-column: 3/-2;
  grid-row: 4/5;
  align-items: center;

}

.area-item {
  padding:8px 32px 8px 32px;

}
.area-item:not(:last-child) {
  margin-right: 8px;
}





.area-item:not(:last-of-type) {
  margin-right:8px;
}

.checked {
  background-color: #7DB54F;
  font-family: "PT Sans",sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color:white;
border: none;
border-radius:4px ;

}
.checked:hover {
  background-color: #6C9E42;
}
.checked:focus {
  box-shadow:0 0 0 3px #756257;
  outline:none;
  background-color: #6C9E42;
}
.checked:active {
  color:rgba(255,255,255,0.3);
  outline:none;
  box-shadow: none;
  background-color: #6C9E42;
}

.hotel-rating-button {
  width: 160px;
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  grid-column: -2/-1;
  grid-row: 4/5;
  align-self: center;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 4px;

}

.stars-container {
  display: flex;
  justify-content: space-around;
  grid-column: -2/-1;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}

.show-more-container {
  display: flex;
  justify-content: center;
  border-top:1px solid #E6E6E6;
  border-bottom:1px solid #E6E6E6;
}

.button-dwn-more {
  font-family: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border:none;
  
  margin-top: 31px;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 625px;
  height: 55px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83B3D3;
  color: white;
 
}

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-top: 31px;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  list-style-type: none;
}


.pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #83B3D3;
  color: white;
  text-decoration: none;
  padding:15px 22px;
  border-radius: 4px;
}
.pagination-item:last-of-type .pagination-link {
  padding:15px 16px 15px 18px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link:hover {
  background-color: #68A2CA;;
}
.pagination-link:focus {
  background-color: #68A2CA;
  box-shadow:  0 0 0 3px  #756257;
  outline: none;
}
.pagination-link:active {
  color:rgba(255,255,255,0.3);
  box-shadow:none;
  outline:none;
}



.pagination-current {
  background-color: #F2F2F2;
  color: black;
}



.hotels-on-page-label {
  display: flex;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  margin-left: auto;
}

.number-of-page {
  font-family: inherit;
  display: block;
  width: 160px;
  height: 48px;
  margin-top: 34px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

}

.hotels-on-page-info {
  margin-top: 47px;
  margin-right: 51px;
}




.newsletters-catalog {
  text-align: center;
  color: black;

}

.newsletters-catalog-title {

  margin: 0 auto;
  margin-top: 89px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.newsletters-catalog-dop {

  margin: 0 auto;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: black;

}

.field-catalog {
  width: 600px;
  padding: 0;
}

.newsletters-catalog .newsletters-form {
  margin-bottom: 138px;
}
